## Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x=int(input("enter value:"))
print(x)

enter value:10
10

Tell the computer to show you the value of that variable.

In [2]:
x

10

Can you think of a second way to obtain the same result?

In [3]:
x=10
print(x)

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [5]:
x=10
a=10
b=20
c=30
d=40

Tell the computer to show you the value corresponding to the variable "b".

In [6]:
b

20

Do the same for "d".

In [7]:
d

40