###**Write a Python Program to check whether the given number is Armstrong number or not**

In [1]:
n = int(input("Enter a number: "))
sum = 0
temp = n
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if n== sum:
   print(n,"is an Armstrong number")
else:
   print(n,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

###**Write a Python code snippets to find square of each number in a List**

In [2]:
l= [1, 2, 3, 4, 5]
for i in range(len(l)):
    l[i] = l[i]**2
print(l)

[1, 4, 9, 16, 25]

### **Write a Python Dictionary program to find maximum value in the dictionary**

In [3]:
dict={'k':23,'s':45,'n':34}
val=dict.values()
val

dict_values([23, 45, 34])

In [4]:
max=max(val)
max

45

###**How will you identify the missing values and deal with in pandas. Write code snippets to show this.**

In [5]:
import pandas as pd

In [7]:
# to check null values
 df.isnull().sum()

In [ ]:
# to deal null values

df.dropna()      # this function used to drop null values in records that lessthan 3%

df.fillna()       # this function used to fill null values i)  if the columns values are numeric  used to fill with mean/meadian vaules
                  #                                        ii) if the columns values are categorical used to fill with mode values