##Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Onboarding

In [ ]:
from google.colab import files
dataset = files.upload()

Saving train.csv to train.csv

In [ ]:
df=pd.read_csv('train.csv')

In [ ]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
data_copy = df.copy()

##EXPLOARTORY DATA ANALYSIS

In [ ]:
df.shape

(1460, 81)

In [ ]:
df.head(40)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,159000
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000
20,21,60,RL,101.0,14215,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,New,Partial,325300
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
22,23,20,RL,75.0,9742,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,230000
23,24,120,RM,44.0,4224,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,129900
24,25,20,RL,NaN,8246,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2010,WD,Normal,154000
25,26,20,RL,110.0,14230,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,256300
26,27,20,RL,60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,134800
27,28,20,RL,98.0,11478,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,306000
28,29,20,RL,47.0,16321,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2006,WD,Normal,207500
29,30,30,RM,60.0,6324,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,68500
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
31,32,20,RL,NaN,8544,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2008,WD,Normal,149350
32,33,20,RL,85.0,11049,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,179900
33,34,20,RL,70.0,10552,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,165500
34,35,120,RL,60.0,7313,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,277500
35,36,60,RL,108.0,13418,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Normal,309000
36,37,20,RL,112.0,10859,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,145000
37,38,20,RL,74.0,8532,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,153000
38,39,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Abnorml,109000
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000

In [ ]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
df.iloc[16:34,2:8]

   MSZoning  LotFrontage  LotArea Street Alley LotShape
16       RL          NaN    11241   Pave   NaN      IR1
17       RL         72.0    10791   Pave   NaN      Reg
18       RL         66.0    13695   Pave   NaN      Reg
19       RL         70.0     7560   Pave   NaN      Reg
20       RL        101.0    14215   Pave   NaN      IR1
21       RM         57.0     7449   Pave  Grvl      Reg
22       RL         75.0     9742   Pave   NaN      Reg
23       RM         44.0     4224   Pave   NaN      Reg
24       RL          NaN     8246   Pave   NaN      IR1
25       RL        110.0    14230   Pave   NaN      Reg
26       RL         60.0     7200   Pave   NaN      Reg
27       RL         98.0    11478   Pave   NaN      Reg
28       RL         47.0    16321   Pave   NaN      IR1
29       RM         60.0     6324   Pave   NaN      IR1
30  C (all)         50.0     8500   Pave  Pave      Reg
31       RL          NaN     8544   Pave   NaN      IR1
32       RL         85.0    11049   Pave   NaN      Reg
33       RL         70.0    10552   Pave   NaN      IR1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:

df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

##Data Cleaning

In [ ]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
data0=df["Id"]
data0

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64

In [ ]:
data1=df.iloc[:,0:11]
data1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2
...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside

In [ ]:
data1.isnull().sum()

Id                0
MSSubClass        0
MSZoning          0
LotFrontage     259
LotArea           0
Street            0
Alley          1369
LotShape          0
LandContour       0
Utilities         0
LotConfig         0
dtype: int64

In [ ]:
subset=df[['LotFrontage','Alley']]
subset

      LotFrontage Alley
0            65.0   NaN
1            80.0   NaN
2            68.0   NaN
3            60.0   NaN
4            84.0   NaN
...           ...   ...
1455         62.0   NaN
1456         85.0   NaN
1457         66.0   NaN
1458         68.0   NaN
1459         75.0   NaN

[1460 rows x 2 columns]

In [ ]:
meanVal = data1['LotFrontage'].mean()

In [ ]:
data1['LotFrontage'].fillna(value=meanVal, inplace=True)

In [ ]:
data1.isnull().sum()

Id                0
MSSubClass        0
MSZoning          0
LotFrontage       0
LotArea           0
Street            0
Alley          1369
LotShape          0
LandContour       0
Utilities         0
LotConfig         0
dtype: int64

In [ ]:
data1['Alley'].unique()

array([nan, 'Grvl', 'Pave'], dtype=object)

In [ ]:
data1.fillna(data1['Alley'].mode()[0], inplace = True)
data1

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig
0,1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,Inside
1,2,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,FR2
2,3,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,Inside
3,4,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,Corner
4,5,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,FR2
...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Grvl,Reg,Lvl,AllPub,Inside
1456,1457,20,RL,85.0,13175,Pave,Grvl,Reg,Lvl,AllPub,Inside
1457,1458,70,RL,66.0,9042,Pave,Grvl,Reg,Lvl,AllPub,Inside
1458,1459,20,RL,68.0,9717,Pave,Grvl,Reg,Lvl,AllPub,Inside
1459,1460,20,RL,75.0,9937,Pave,Grvl,Reg,Lvl,AllPub,Inside

In [ ]:
data1.isnull().sum()

Id             0
MSSubClass     0
MSZoning       0
LotFrontage    0
LotArea        0
Street         0
Alley          0
LotShape       0
LandContour    0
Utilities      0
LotConfig      0
dtype: int64

In [ ]:
data2=df.iloc[:,[0,11,12,13,14,15,16,17,18,19,20,21]]
data2

,Id,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle
0,1,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable
1,2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable
2,3,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable
3,4,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable
4,5,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999,2000,Gable
1456,1457,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978,1988,Gable
1457,1458,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941,2006,Gable
1458,1459,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950,1996,Hip
1459,1460,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965,1965,Gable

In [ ]:
data2.isnull().sum()

Id              0
LandSlope       0
Neighborhood    0
Condition1      0
Condition2      0
BldgType        0
HouseStyle      0
OverallQual     0
OverallCond     0
YearBuilt       0
YearRemodAdd    0
RoofStyle       0
dtype: int64

In [ ]:
data3=df.iloc[:,[0,21,22,23,24,25,26,27,28,29,30,31]]
data3

,Id,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond
0,1,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA
1,2,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA
2,3,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA
3,4,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd
4,5,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA
1456,1457,Gable,CompShg,Plywood,Plywood,Stone,119.0,TA,TA,CBlock,Gd,TA
1457,1458,Gable,CompShg,CemntBd,CmentBd,None,0.0,Ex,Gd,Stone,TA,Gd
1458,1459,Hip,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,TA,TA
1459,1460,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,CBlock,TA,TA

In [ ]:
data3.isnull().sum()

Id              0
RoofStyle       0
RoofMatl        0
Exterior1st     0
Exterior2nd     0
MasVnrType      8
MasVnrArea      8
ExterQual       0
ExterCond       0
Foundation      0
BsmtQual       37
BsmtCond       37
dtype: int64

In [ ]:
data3.dropna(inplace=True)

<ipython-input-64-a2da224e4c79>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3.dropna(inplace=True)

In [ ]:
data3.isnull().sum()

Id             0
RoofStyle      0
RoofMatl       0
Exterior1st    0
Exterior2nd    0
MasVnrType     0
MasVnrArea     0
ExterQual      0
ExterCond      0
Foundation     0
BsmtQual       0
BsmtCond       0
dtype: int64

In [ ]:
data4=df.iloc[:,[0,31,32,33,34,35,36,37,38,39,40,41]]
data4

,Id,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir
0,1,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y
1,2,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y
2,3,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y
3,4,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y
4,5,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,TA,No,Unf,0,Unf,0,953,953,GasA,Ex,Y
1456,1457,TA,No,ALQ,790,Rec,163,589,1542,GasA,TA,Y
1457,1458,Gd,No,GLQ,275,Unf,0,877,1152,GasA,Ex,Y
1458,1459,TA,Mn,GLQ,49,Rec,1029,0,1078,GasA,Gd,Y
1459,1460,TA,No,BLQ,830,LwQ,290,136,1256,GasA,Gd,Y

In [ ]:
data4.isnull().sum()

Id               0
BsmtCond        37
BsmtExposure    38
BsmtFinType1    37
BsmtFinSF1       0
BsmtFinType2    38
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
Heating          0
HeatingQC        0
CentralAir       0
dtype: int64

In [ ]:
data4.dropna(inplace=True)

<ipython-input-68-4574247ebb9b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.dropna(inplace=True)

In [ ]:
data4.isnull().sum()

Id              0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinSF1      0
BsmtFinType2    0
BsmtFinSF2      0
BsmtUnfSF       0
TotalBsmtSF     0
Heating         0
HeatingQC       0
CentralAir      0
dtype: int64

In [ ]:
data5=df.iloc[:,[0,41,42,43,44,45,46,47,48,49,50,51]]
data5

,Id,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr
0,1,Y,SBrkr,856,854,0,1710,1,0,2,1,3
1,2,Y,SBrkr,1262,0,0,1262,0,1,2,0,3
2,3,Y,SBrkr,920,866,0,1786,1,0,2,1,3
3,4,Y,SBrkr,961,756,0,1717,1,0,1,0,3
4,5,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,Y,SBrkr,953,694,0,1647,0,0,2,1,3
1456,1457,Y,SBrkr,2073,0,0,2073,1,0,2,0,3
1457,1458,Y,SBrkr,1188,1152,0,2340,0,0,2,0,4
1458,1459,Y,FuseA,1078,0,0,1078,1,0,1,0,2
1459,1460,Y,SBrkr,1256,0,0,1256,1,0,1,1,3

In [ ]:
data5.isnull().sum()

Id              0
CentralAir      0
Electrical      1
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
dtype: int64

In [ ]:
data5.dropna(inplace=True)

<ipython-input-73-04f909270299>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data5.dropna(inplace=True)

In [ ]:
data5.isnull().sum()

Id              0
CentralAir      0
Electrical      0
1stFlrSF        0
2ndFlrSF        0
LowQualFinSF    0
GrLivArea       0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
HalfBath        0
BedroomAbvGr    0
dtype: int64

In [ ]:
data6=df.iloc[:,[0,51,52,53,54,56,57,58,59,60,61]]
data6

,Id,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars
0,1,3,1,Gd,8,0,NaN,Attchd,2003.0,RFn,2
1,2,3,1,TA,6,1,TA,Attchd,1976.0,RFn,2
2,3,3,1,Gd,6,1,TA,Attchd,2001.0,RFn,2
3,4,3,1,Gd,7,1,Gd,Detchd,1998.0,Unf,3
4,5,4,1,Gd,9,1,TA,Attchd,2000.0,RFn,3
...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,3,1,TA,7,1,TA,Attchd,1999.0,RFn,2
1456,1457,3,1,TA,7,2,TA,Attchd,1978.0,Unf,2
1457,1458,4,1,Gd,9,2,Gd,Attchd,1941.0,RFn,1
1458,1459,2,1,Gd,5,0,NaN,Attchd,1950.0,Unf,1
1459,1460,3,1,TA,6,0,NaN,Attchd,1965.0,Fin,1

In [ ]:
data6.isnull().sum()

Id                0
BedroomAbvGr      0
KitchenAbvGr      0
KitchenQual       0
TotRmsAbvGrd      0
Fireplaces        0
FireplaceQu     690
GarageType       81
GarageYrBlt      81
GarageFinish     81
GarageCars        0
dtype: int64

In [ ]:
meanVal = data6['GarageYrBlt'].mean()
data6['GarageYrBlt'].fillna(value=meanVal, inplace=True)

<ipython-input-95-109605fbf616>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data6['GarageYrBlt'].fillna(value=meanVal, inplace=True)

In [ ]:
data6.isnull().sum()

Id                0
BedroomAbvGr      0
KitchenAbvGr      0
KitchenQual       0
TotRmsAbvGrd      0
Fireplaces        0
FireplaceQu     690
GarageType       81
GarageYrBlt       0
GarageFinish     81
GarageCars        0
dtype: int64

In [ ]:
data6['GarageFinish'].unique()

array(['RFn', 'Unf', 'Fin', nan], dtype=object)

In [ ]:
data6.fillna(data6['GarageFinish'].mode()[0], inplace = True)
data6

<ipython-input-98-641a58f87ab9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data6.fillna(data6['GarageFinish'].mode()[0], inplace = True)

,Id,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars
0,1,3,1,Gd,8,0,Unf,Attchd,2003.0,RFn,2
1,2,3,1,TA,6,1,TA,Attchd,1976.0,RFn,2
2,3,3,1,Gd,6,1,TA,Attchd,2001.0,RFn,2
3,4,3,1,Gd,7,1,Gd,Detchd,1998.0,Unf,3
4,5,4,1,Gd,9,1,TA,Attchd,2000.0,RFn,3
...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,3,1,TA,7,1,TA,Attchd,1999.0,RFn,2
1456,1457,3,1,TA,7,2,TA,Attchd,1978.0,Unf,2
1457,1458,4,1,Gd,9,2,Gd,Attchd,1941.0,RFn,1
1458,1459,2,1,Gd,5,0,Unf,Attchd,1950.0,Unf,1
1459,1460,3,1,TA,6,0,Unf,Attchd,1965.0,Fin,1

In [ ]:
data6.isnull().sum()

Id              0
BedroomAbvGr    0
KitchenAbvGr    0
KitchenQual     0
TotRmsAbvGrd    0
Fireplaces      0
FireplaceQu     0
GarageType      0
GarageYrBlt     0
GarageFinish    0
GarageCars      0
dtype: int64

In [ ]:
data7=df.iloc[:,[0,61,62,62,63,64,65,67,68,69,70,71]]
data7

,Id,GarageCars,GarageArea,GarageArea,GarageQual,GarageCond,PavedDrive,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea
0,1,2,548,548,TA,TA,Y,61,0,0,0,0
1,2,2,460,460,TA,TA,Y,0,0,0,0,0
2,3,2,608,608,TA,TA,Y,42,0,0,0,0
3,4,3,642,642,TA,TA,Y,35,272,0,0,0
4,5,3,836,836,TA,TA,Y,84,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2,460,460,TA,TA,Y,40,0,0,0,0
1456,1457,2,500,500,TA,TA,Y,0,0,0,0,0
1457,1458,1,252,252,TA,TA,Y,60,0,0,0,0
1458,1459,1,240,240,TA,TA,Y,0,112,0,0,0
1459,1460,1,276,276,TA,TA,Y,68,0,0,0,0

In [ ]:
data7.isnull().sum()

Id                0
GarageCars        0
GarageArea        0
GarageArea        0
GarageQual       81
GarageCond       81
PavedDrive        0
OpenPorchSF       0
EnclosedPorch     0
3SsnPorch         0
ScreenPorch       0
PoolArea          0
dtype: int64

In [ ]:
data7['GarageQual'].unique()

array(['TA', 'Fa', 'Gd', nan, 'Ex', 'Po'], dtype=object)

In [ ]:
data7.fillna(data7['GarageQual'].mode(), inplace = True)
data7

,Id,GarageCars,GarageArea,GarageArea,GarageQual,GarageCond,PavedDrive,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea
0,1,2,548,548,TA,TA,Y,61,0,0,0,0
1,2,2,460,460,TA,TA,Y,0,0,0,0,0
2,3,2,608,608,TA,TA,Y,42,0,0,0,0
3,4,3,642,642,TA,TA,Y,35,272,0,0,0
4,5,3,836,836,TA,TA,Y,84,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2,460,460,TA,TA,Y,40,0,0,0,0
1456,1457,2,500,500,TA,TA,Y,0,0,0,0,0
1457,1458,1,252,252,TA,TA,Y,60,0,0,0,0
1458,1459,1,240,240,TA,TA,Y,0,112,0,0,0
1459,1460,1,276,276,TA,TA,Y,68,0,0,0,0

In [ ]:
data7.isnull().sum()

Id               0
GarageCars       0
GarageArea       0
GarageArea       0
GarageQual       0
GarageCond       0
PavedDrive       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
dtype: int64

In [ ]:
data8=df.iloc[:,[0,71,72,73,74,75,76,77,78,79]]
data8

,Id,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,2,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,3,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,4,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,5,0,NaN,NaN,NaN,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...
1455,1456,0,NaN,NaN,NaN,0,8,2007,WD,Normal
1456,1457,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal
1457,1458,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,0,NaN,NaN,NaN,0,4,2010,WD,Normal
1459,1460,0,NaN,NaN,NaN,0,6,2008,WD,Normal

In [ ]:
data8.isnull().sum()

Id                  0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
dtype: int64

In [ ]:
data8['PoolQC'].unique()

array([nan, 'Ex', 'Fa', 'Gd'], dtype=object)

In [ ]:
data8['Fence'].unique()

array([nan, 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [ ]:
data8['MiscFeature'].unique()

array([nan, 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object)

In [ ]:
data8.fillna(data8['MiscFeature'].mode()[0], inplace = True)
data8

<ipython-input-115-050cc6096b82>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data8.fillna(data8['MiscFeature'].mode()[0], inplace = True)

,Id,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,0,Shed,Shed,Shed,0,2,2008,WD,Normal
1,2,0,Shed,Shed,Shed,0,5,2007,WD,Normal
2,3,0,Shed,Shed,Shed,0,9,2008,WD,Normal
3,4,0,Shed,Shed,Shed,0,2,2006,WD,Abnorml
4,5,0,Shed,Shed,Shed,0,12,2008,WD,Normal
...,...,...,...,...,...,...,...,...,...,...
1455,1456,0,Shed,Shed,Shed,0,8,2007,WD,Normal
1456,1457,0,Shed,MnPrv,Shed,0,2,2010,WD,Normal
1457,1458,0,Shed,GdPrv,Shed,2500,5,2010,WD,Normal
1458,1459,0,Shed,Shed,Shed,0,4,2010,WD,Normal
1459,1460,0,Shed,Shed,Shed,0,6,2008,WD,Normal

In [ ]:
data8.isnull().sum()

Id               0
PoolArea         0
PoolQC           0
Fence            0
MiscFeature      0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
dtype: int64